.return-body {
    height: 825px;
}

.from-tab-return {
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.from-tab-return a {
    text-decoration: none;
    color: black;
    padding-right: 5px;
}

.from-tab-return a:hover {
    color: #ff637e;
    text-decoration: underline;
}

.return-head {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-head h1 {
    color: #ff637e;
    font-size: 40px;
}

.return-para {
    height: 400px;
    position: relative;
    top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    z-index: -1;
}

#bold {
    font-weight: 700;
}

.return-para ul {
    margin-left: 15px;
}